node_modules/
npm-debug.log
yarn-error.log

logs
*.log
*.log.*
npm-debug.log*
yarn-debug.log*
yarn-error.log*

lib-cov/

coverage/
.nyc_output/

.grunt/

bower_components/

.env

.npm

.eslintcache

.node_repl_history

debug/
.vscode/
.idea/

jspm_packages/

Dockerfile
docker-compose.yml
.dockerignore

*.DS_Store
*.swp
